.but {
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background-color: #3470ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  margin-top: auto;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.but:hover {
  background: #0b44cd;
}

.box {
  margin-bottom: 56px;
  justify-content: center;
  display: flex;
  gap: 16px;
}

.label {
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #8d929a;
}

.inputBox {
  width: 320px;
  height: 44px;
}

.inputPrice {
  border-radius: 12px;
  padding: 12px 16px;
  width: 204px;
  height: 44px;
  background: #f7f7f7;
  transition: background-color 250ms ease-in-out;
}

.inputFrom {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
  padding: 12px 24px;
  border-right: 1px solid #dadde1;
  border-radius: 12px 0 0 12px;
  width: 160px;
  height: 44px;
  background: #f7f7f7;
  transition: background-color 250ms ease-in-out;
}

.inputTo {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
  padding: 12px 24px;
  border-radius: 0 12px 12px 0;
  width: 160px;
  height: 44px;
  background: #f7f7f7;
  transition: background-color 250ms ease-in-out;
}

.inputFrom::placeholder,
.inputTo::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
}

.inputFrom::-webkit-outer-spin-button,
.inputFrom::-webkit-inner-spin-button,
.inputTo::-webkit-outer-spin-button,
.inputTo::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mileageBox {
  display: flex;
  flex-direction: row;
}
