.imgBox {
  margin-bottom: 16px;
  border-radius: 14px;
  width: 276px;
  height: 268px;
}
.cardBox {
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
}
.span {
  color: #3470ff;
}
.textBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.divider {
  width: 2px;
  height: 16px;
  background-color: #dadde1;
}
.button {
  margin-top: 28px;
}
.svg {
  stroke: #dadde1;
}
.strokeBox {
  display: flex;
  gap: 6px;
  align-items: center;
}
.navigation {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #8d929a;
  margin-bottom: 4px;
}
